// transition

.fadeselect-enter-active
  transition: transform .2s, opacity .2s;

.fadeselect-leave-active
  transition: transform .150s, opacity .150s;

.fadeselect-enter, .fadeselect-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity: 0;
  transform: translate(0,0px) scale(0.950)
  box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0);

.fade-enter-active, .fade-leave-active
  transition: opacity .3s
.fade-enter, .fade-leave-to
  opacity: 0

.input-select-con
  position relative

.vm-typeahead
  position: relative;
  width: 200px
  clear both
.vm-typeahead--loading
  width 25px;
  float left
  height 25px;
  position: absolute;
  right: 0;
  font-size: 1.0625em;
  top: 50%;
  pointer-events none;
  transform: translate(0,-50%);
  transition: all .2s ease;
  .vm-loading
    position: absolute
    width: 55px;
    height: 55px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -50%;
    display: block
    border-radius: 50%;
    box-sizing: border-box
    border: 3px solid transparent
    .effects
      transition: all .3s ease
    &.material
      display: flex
      align-items: center
      justify-content: center
    &.default,&.border
      .effect-1
        position: absolute
        width: 100%
        height: 100%
        border: 3px solid transparent
        border-left: 3px solid $vm-colors[primary]
        animation: rotate 1s ease infinite;
        border-radius: 50%;
        box-sizing: border-box
      .effect-2
        position: absolute
        width: 100%
        height: 100%
        border: 3px solid transparent
        border-left: 3px solid $vm-colors[primary]
        animation: rotateOpacity 1s ease infinite .1s;
        border-radius: 50%;
        box-sizing: border-box
      .effect-3
        position: absolute
        width: 100%
        height: 100%
        border: 3px solid transparent
        border-left: 3px solid $vm-colors[primary]
        animation: rotateOpacity 1s ease infinite .2s;
        border-radius: 50%;
        box-sizing: border-box
    //border type
    &.border
      border: 1px solid rgb(240,240,240)
      .effect-1,.effect-2,.effect-3
        border: 1px solid transparent
        border-left: 1px solid $vm-colors[primary]
    //point type
    &.point
      .effect-1
        background: alpha($vm-colors[primary],.4)
        position: absolute
        width: 100%
        height: 100%
        animation: scale 1.2s ease infinite;
        border-radius: 50%;
        box-sizing: border-box
      .effect-2
        background: alpha($vm-colors[primary],.4)
        position: absolute
        width: 100%
        height: 100%
        animation: scale 1.8s ease infinite;
        border-radius: 50%;
        box-sizing: border-box
      .effect-3
        background: alpha($vm-colors[primary],.4)
        position: absolute
        width: 100%
        height: 100%
        animation: scale 3.6s ease-out infinite;
        border-radius: 50%;
        box-sizing: border-box

    &.radius
      .effect-1
        position: absolute
        width: 100%
        height: 100%
        border: 3px solid $vm-colors[primary]
        animation: radius 1s ease infinite;
        border-radius: 10px;
        box-sizing: border-box
      .effect-2
        position: absolute
        width: 100%
        height: 100%
        border: 3px solid $vm-colors[primary]
        animation: radius 2s ease infinite .1s;
        border-radius: 10px;
        box-sizing: border-box
      .effect-3
        position: absolute
        width: 100%
        height: 100%
        border: 3px solid $vm-colors[primary]
        animation: radius 3s ease infinite .2s;
        border-radius: 10px;
        box-sizing: border-box

    &.corners
      .effect-1
        position: absolute
        width: 100%
        height: 100%
        border: 3px solid $vm-colors[primary]
        animation: corners 1s ease infinite;
        border-radius: 10px;
        box-sizing: border-box

    &.sound
      display: flex
      align-items: center
      justify-content: center
      .effect-1
        position: relative
        width: 5px
        height: 100%
        animation: sound 1.4s ease infinite alternate;
        border-radius: 10px;
        box-sizing: border-box
        background: $vm-colors[primary]
        margin: 0px 4px
      .effect-2
        position: relative
        width: 5px
        height: 60%
        animation: sound .7s ease infinite alternate;
        border-radius: 10px;
        box-sizing: border-box
        background: $vm-colors[primary]
        margin: 0px 4px
      .effect-3
        position: relative
        width: 5px
        height: 80%
        animation: sound 1s ease-out infinite alternate;
        border-radius: 10px;
        box-sizing: border-box
        background: $vm-colors[primary]
        margin: 0px 4px
.vm-typeahead--input
  color: inherit
  width: 100%
  position: relative;
  padding: 7px;
  border-radius: 5px;
  border: $vm-border
  transition: all .2s ease;
  padding-right: 25px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: $vm-box-shadow-input;
  -webkit-appearance: none
  &:hover
    box-shadow: $vm-box-shadow-input-hover
  &-con
    position: relative;
  &:disabled
    opacity $vm-disabled-opacity
    cursor: default
    pointer-events: none

.vm-typeahead--label
  padding-left 5px;
  font-size: .85rem
  color $vm-label-color

.con-text-validation
  position: relative
  font-size: .65rem
  overflow: hidden
  transition: $vm-transition;
  .span-text-validation
    padding: 2px 4px;
    padding-bottom: 4px
    display: block

.scrollx
  ul
    padding-right: 4px;
.vm-typeahead--options
  padding: 4px;
  padding-top: 6px;
  padding-left: 5px;
  padding-bottom: 6px;
  box-shadow: $vm-box-shadow;
  border-radius: 5px;
  position: absolute;
  z-index: 40001;
  background: $vm-background;
  ul
    max-height: 260px;
    overflow: auto;
    padding-left: 0px
    padding: 0px
    li
      margin: 0px;

.vm-typeahead--item
  text-align: left;
  color: rgba(0,0,0,.8)
  padding: 7px;
  border 0px;
  position relative
  border-top: 1px solid $border-color
  border-bottom: 1px solid $border-color
  transition: all .3s ease
  margin: 0px !important
  cursor pointer
  &:hover
    background: rgb(245, 245, 245)
  &:focus
    background: rgb(245, 245, 245)
  &.con-icon.activex
    padding-left: 25px;
    .vm-typeahead--item-icon
      opacity: 1;
      transform: translate(0,-50%);

.vm-typeahead--item-icon
  position: absolute;
  font-size: 1.0em;
  left: 5px;
  transform: translate(-100%,-50%);
  opacity: 0;
  transition: all .2s ease;
  top: 50%;


for colorx, i in $vm-colors
  .vm-typeahead-{colorx}
    .vm-typeahead--item
      &.activex
        background: var(colorx, .1)
        color: var(colorx);
        font-weight: bold;
  .vm-typeahead--label-{colorx}
    .vm-typeahead--label-span
      color: var(colorx)
  .input-select-label-{colorx}--active
    color: var(colorx)
  .input-select-validate-{colorx}
    .input-select-con
      .input-select
        border-color: var(colorx)
  .vm-typeahead--loading-{colorx}
    .effect-1
      border-left: 3px solid var(colorx, 1) !important
    .effect-2
      border-left: 3px solid var(colorx, 1) !important
    .effect-3
      border-left: 3px solid var(colorx, 1) !important
    //border type
    .border
      .effect-1,.effect-2,.effect-3
        border-left: 1px solid var(colorx, 1) !important
    //point type
    .point
      .effect-1
        background: var(colorx, .4) !important
      .effect-2
        background: var(colorx, .4) !important
      .effect-3
        background: var(colorx, .4) !important

    .radius
      .effect-1
        border: 3px solid var(colorx, 1) !important
      .effect-2
        border: 3px solid var(colorx, 1) !important
      .effect-3
        border: 3px solid var(colorx, 1) !important

    .corners
      .effect-1
        border: 3px solid var(colorx, 1) !important

    .sound
      .effect-1
        background: var(colorx, 1) !important
      .effect-2
        background: var(colorx, 1) !important
      .effect-3
        background: var(colorx, 1) !important
  .vm-typeahead--icon
    color var(colorx)


// item style //

.vm-typeahead--item
  background: transparent
  padding: 5px;
  width: 100%;
  margin: 0px
  text-transform: capitalize;
  &.disabledx
    opacity: $vm-disabled-opacity;
    cursor: default
    pointer-events: none
  span.searchx
    background: rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: inherit;


// vm-typeahead-group

.vm-typeahead-group
  h4
    padding-left: 10px
    cursor default
    padding-bottom: 5px
  li
    border-left: 1px solid rgba(0,0,0,.1)
    margin-left: 15px !important
    list-style none


// default border

@keyframes rotate
  0%
    transform: rotate(0deg);
  100%
    transform: rotate(360deg);

@keyframes rotateOpacity
  0%
    transform: rotate(0deg);
    opacity .1
  100%
    transform: rotate(360deg);
    opacity 1


// point

@keyframes scale
  0%
    transform: scale(.1);
  60%
    transform: scale(1);
  100%
    transform: scale(.1);

//redius


@keyframes radius
  0%
    transform: rotate(0deg) scale(.1);
    opacity 1
  60%
    // border-radius: 80%
    transform: rotate(160deg) scale(1);
    opacity 0
  100%
    transform: rotate(0deg) scale(.1);
    opacity 1

// corners

@keyframes corners
  0%
    border-radius: 50%
    transform: rotate(0deg)
  25%
    border-radius: 50% 50% 50% 20%
  50%
    border-radius: 50% 50% 20% 30%
  75%
    border-radius: 50% 20% 30% 30%
  100%
    border-radius: 50%
    transform: rotate(-180deg)

//sound

@keyframes sound
  0%
    transform: scaleY(0)
    opacity .7
  40%
    transform: scaleY(1.2)
    opacity .5
  70%
    transform: scaleY(.2)
    opacity .8
  50%
    transform: scaleY(1)
    opacity 1


@keyframes dash
 0%
  stroke-dashoffset: 187;
 50%
  stroke-dashoffset: 46.75;
  transform:rotate(135deg);
 100%
  stroke-dashoffset: 187;
  transform:rotate(450deg);


@keyframes colors
	0%
   stroke: #4285F4;
	25%
    stroke: #DE3E35;
	50%
    stroke: #F7C223;
	75%
    stroke: #1B9A59;
  100%
    stroke: #4285F4;

@keyframes rotator
  0%
    transform: rotate(0deg);
  100%
    transform: rotate(270deg);
