/*
colors
========================
*/

// Number Colors

$vm-primary = 81, 221, 211
$vm-secondary = 121, 49, 177
$vm-danger = 255, 71, 87
$vm-success = 70, 201, 58
$vm-warning = 255,186,0
$vm-dark = 30, 30, 30
$vm-light = 245, 245, 245
$vm-gray = 115, 129, 153

// Brand colors

$vm-primary-color = rgb($vm-primary)
$vm-secondary-color = rgb($vm-secondary)


// App level

$vm-danger-color = rgb($vm-danger)
$vm-success-color = rgb($vm-success)
$vm-warning-color = rgb($vm-warning)
$vm-dark-color = rgb($vm-dark)
$vm-light-color = rgb($vm-light)
$vm-gray-color = rgb($vm-gray)

$vm-colors := {
  primary: $vm-primary-color,
  secondary: $vm-secondary-color,
  danger: $vm-danger-color,
  success: $vm-success-color,
  warning: $vm-warning-color,
  dark: $vm-dark-color,
  light: $vm-light-color,
  gray: $vm-gray-color
}

:root {
  --primary: $vm-primary
  --secondary: $vm-secondary
  --danger: $vm-danger
  --success: $vm-success
  --dark: $vm-dark
  --warning: $vm-warning
  --gray: $vm-gray
}

var(colorx, alpha = 1)
  unquote("rgba(var(--"+colorx+"), "+alpha+")")

varx(colorx)
  unquote("var(--"+colorx+")")


// , $vm-secondary, $vm-danger, $vm-success, $vm-warning, $vm-dark, $vm-light


// global vars

$vm-radio := 4px
$vm-disabled-opacity := .5
$vm-transition := all .25s ease
$vm-border := 1px solid rgba(0, 0, 0, 0)
$vm-label-color := rgba(0,0,0,.6)
$vm-box-shadow := rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px, 0 5px 20px 0 rgba(9,30,66,0.1)
$vm-box-shadow-input:= 0 2px 8px 0 rgba(59,65,94,.1), 0 1px 1px 0 rgba(0,0,0,.07);
$vm-box-shadow-input-hover:= 0 5px 15px 0 rgba(59,65,94,.1), 0 1px 4px 0 rgba(0,0,0,.07)
$vm-background := rgb(255, 255, 255)

// select vars

$border-color :=  rgb(255, 255, 255)
