// $vm-primary = rgb(31, 116, 0)
// $vm-secondary = rgb(121, 49, 177)


// // App level

// $vm-danger = rgb(255, 71, 87)
// $vm-success = rgb(70, 201, 58)
// $vm-warning = rgb(255,186,0)
// $vm-dark = rgb(30, 30, 30)
// $vm-light = rgb(245, 245, 245)

// $vm-colors = {
//   primary: rgb(31, 116, 0),
//   secondary: $vm-secondary,
//   danger: $vm-danger,
//   success: $vm-success,
//   warning: $vm-warning,
//   dark: $vm-dark,
//   light: $vm-light
// }
@import '../../src/styles/index.styl'

// $vm-primary = 231, 0, 255

// :root {
//   --primary: $vm-primary
// }
